@using Microsoft.AspNetCore.Identity;
@{
    ViewData["Title"] = "Index";

}
@inject UserManager<ApplicationUser> userManager;
@model IEnumerable<PostTagViewModel>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shorouk Blog</title>
    <link rel="stylesheet"href="/css/Posts.css"/>
    <link rel="shortcut icon"href="/Images/blog icon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    
    <br />
    <a asp-controller="Post" asp-action="Create" class="btn btn-primary" class="CreateButton">Create New Post</a> 
    <a asp-controller="Post" asp-action="DeletedPosts" class="btn btn-danger" >Deleted Posts</a>
    <br />
    <br />
    <section id="blog">
        <div class="blog-heading">
            <span>My Recent Posts</span>
            <h3>My Blog</h3>
        </div>
       
        @if (Model?.Count() > 0)
        {
            <div class="blog-container">
            @foreach (var item in Model)
            {

                
                    <div class="blog-box">
                        <div class="blog-img">
                            <img src="~/Files/Images/@item.imageURL" alt="Blog">
                        </div>

                        <div class="blog-text">
                            <span>18 July 2024 / With Shorouk Hatem</span>
                            <a asp-controller="Post" asp-action="SinglePost" class="blog-title" asp-route-id="@item.Id">@item.Title</a>
                            <p>@item.Body</p>
                            <div class="UpdateDelete">
                                <a class="post-update" asp-controller="Post" asp-action="Update" asp-route-id="@item.Id">
                                    Update 
                                </a>
                                @if (userManager.GetUserId(User)== item.UserId)
                                {
                                    <a class="post-update" asp-controller="Post" asp-action="SoftDelete" asp-route-id="@item.Id">
                                        | Delete
                                    </a>
                                }
                               
                            </div>
                           
                        </div>
                    </div>
               
            }
             </div>

        }
        else
        {
            <div class="alert alert-warning">
                <h3>No Posts Found!!</h3>
            </div>
        }
       
    </section>
   
</body>
</html>
