@model LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<form asp-controller="Account" asp-action="Login" method="post">
    @Html.ValidationSummary(true,"",new {@class="text-danger"})
    <div class="row gy-2 overflow-hidden">
        <div class="col-12">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" asp-for="@Model.Name" name="Name" id="Name" placeholder="Name" required="">
                <label asp-for="@Model.Name" class="form-label">Name</label>
            </div>
        </div>

        <div class="col-12">
            <div class="form-floating mb-3">
                <input type="password" class="form-control" asp-for="@Model.Password" name="password" id="password" value="" placeholder="Password" required="">
                <label asp-for="@Model.Password" class="form-label">Password</label>
            </div>
        </div>
        <div class="wthree-text">
            <label class="anim">
                <input type="checkbox" asp-for="@Model.RememberMe" class="checkbox">
                <span>Remember Me</span>
            </label>
            <div class="clear"> </div>
        </div>
        <div class="col-12">
            <div class="d-grid my-3">
                <button class="btn btn-primary btn-lg" type="submit">Login</button>
            </div>
        </div>
        <div class="col-12">
            <p class="m-0 text-secondary text-center">Don't have an account? <a asp-action="register" class="link-primary text-decoration-none">Register</a></p>
        </div>
     
    </div>
</form>

